*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    
}
.oculto{
    display: none;
}
main{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 80px;
    gap: 15px;
    margin-top: 75px;
    margin-bottom: 75px;
  
}
main h2{
    text-align: center;
    margin-bottom:30px ;
    
}

.name-of-ad{
    width: 415px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #ccc;
    margin-bottom: 15px;
}
.name-of-ad-div ::placeholder{
    padding: 12px;
}
.n{
    width: 415px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #ccc;
}
.n ::placeholder{
    padding: 12px;
}
.content-1{
    display: flex;
}
.content-1 ::placeholder{
    padding:12px;
}
.content-2{
    display: flex;
    
}
.content-2 ::placeholder{
    padding: 12px;
}
.content-3{
    display: flex;
    flex-direction: column;
}
.content-3 ::placeholder{
    padding: 12px;
}
.select_Option_Horarios{
    margin-top: 15px;
}
.valorAnuncioBox{
    margin-top: 15px;
}
.little{
    width:150px;
    /* border-radius: 5px; */
    border: solid 1px #ccc;
    cursor: pointer;
}
.style-input{
    border: solid 1px #ccc;
    width: 208px;
    height: 40px;
    border-radius: 5px;
    transition: border 0.2s ease-in-out;
}
input:hover {
    
    border: 1px solid #666;
}

.submit{
    display: flex;
    justify-content: flex-start;
    padding: 14px 32px;
    background-color: #033aaf;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.main-box-btns{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.box_btns{
    display: flex;
    gap: 15px;
}
.box_btns_2{
    display: flex;
    gap: 15px;
}
.btn_recursos{
    border: solid 1px gray;
    border-radius: 5px;
    color: black;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    height: 100px;
    cursor: pointer;
}
.btn_recursos:hover{
    border: solid 1px black;
    transition:0.2s ;
}
.btn_espec{
    border: solid 1px gray;
    border-radius: 5px;
    color: black;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    height: 100px;
    cursor: pointer;
}
.btn_espec:hover{
    border: solid 1px black;
    transition:0.2s ;
}

.btn_recursos.selected {
    border: solid 2px black;
}
.btn_espec.selected {
    border: solid 2px black;
}
.btn_recursos.selected:hover {
    border: solid 2px black;
   }
   
   
.upload-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 105px; 
    height: 90px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    cursor: pointer; 
    overflow: hidden; 
}
.upload-container:hover{
    border: 1px solid #666;
}

.upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #333;
    cursor: pointer;
}

.upload-label span {
    font-size: 16px;
    margin-bottom: 5px;
}


.fas.fa-upload {
    font-size: 24px;
}
#upload-input {
    display: none;
}
i{
    color: #333;
}
.bot{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.box_buttons {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
  }
  
.btn_back{
    border: none;
    outline: none;
}
.btn_advance{
    text-align: center;
    background-color:rgb(57, 89, 228);
    color: white;
    border-radius: 5px;
    border: none;
    height: 55px;
    width: 200px;
}
.section_2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.box-sala{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.section_4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.content-4{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.section_5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box-upload{
    display: flex;
   
    margin-top: 40px;
    gap: 15px;
}
.text-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
textarea{
    height: 150px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.little-2{
    width:220px;
    border: solid 1px #ccc;
    cursor: pointer;
}

.oculto{
    display: none;
}