button {
    /* background-color: #4CAF50; */
    /* Cor de fundo */
    border: solid 2px black;
    /* Sem borda */
    border-radius: 5px;
    color: black;
    /* Cor do texto */
    padding: 16px;
    /* Espaçamento interno */
    text-align: center;
    /* Alinhamento do texto */
    text-decoration: none;
    /* Sem decoração de texto */
    display: inline-block;
    /* Exibição em linha */
    font-size: 16px;
    width: 120px;
    height: 100px;
    cursor: pointer;
}
.meio{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.box-1{
   
}
.box-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}